@font-face {
	font-family:montserrat;
	src: url('assets/fonts/montserrat/Montserrat-SemiBold.otf');
}



.main-body {
	position: absolute;
	text-align: center;
	background-color: #7d5ab5;
	/*background-image: url('assets/purple.jpg');*/
	background-size: cover;
	width: 100%;
	height:100%;
	color: black;
}

.content {
	position: relative;
	background-color: #7d5ab5;
}

.navbar {
	margin-bottom: 0px
}

.navbar-center {
	position: absolute;
	left: 42%;
	top: 11px;
}

.navbar-right {
	position: relative;
	float:right;
	top: 0px;
	right: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: #F0EFF4;
    padding: 0 auto;
    font-size: 18px;
}

.right-button {
	background-color: transparent;
	border-color: transparent;
	border-color:#F0EFF4;
	font-size:18px;
	font-family: montserrat;
	color: #F0EFF4;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	font-family: montserrat;
    color: #F0EFF4;
}

.time-button {
	margin-left:5px;
	border-radius: 10px;
	border-color: transparent;
	background-color: transparent;
	color: #F0EFF4;
}

.time-button:hover {
	background-color: #3A3E3B;
	color: #F0EFF4;
}

.price {
	font-family: montserrat;
	font-size: 80px;
	font-weight: 20px;
}

.nav-info {
	position: relative;
	float: left;
	text-align: left;
	padding-top: 2.5%;
}
p {
	font-family: montserrat;
	font-weight: 20px
}
.change {
	position: relative;
	font-size: 15px;
	top: -10px;
}

.chart-container {
	position: relative;
}
#info-bar {
	color: #F0EFF4;
	font-family: montserrat;
	font-size: 20px;
}

ul {
	-webkit-padding-start: 0px;
}
.currBtn {

		background-color: 'black';
		font-family: montserrat;
		background-color: transparent;
		border-color: #F0EFF4;
		padding-top: 2px;
		border-width: 3px;
		border-radius: 3px;
		color: #F0EFF4;
}
.currBtn::after {
	padding-right: 10px
}