<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NAVPRICE</a>
    </div>
    <ul class = "nav navbar-nav navbar-center">
    	<li><button class="time-button" onclick="changeChart('3y')">3y</button></li>
    	<li><button class="time-button" onclick="changeChart('1y')">1y</button></li>
    	<li><button class="time-button" onclick="changeChart('6m')">6m</button></li>
    	<li><button class="time-button" onclick="changeChart('7d')">7d</button></li>
    	<li><button class="time-button" onclick="changeChart('24hr')">24hr</button></li>
	</ul>
  </div>
</nav>