<!--- Wallet generator script -->
<script>
  var navAddress = "NcVqgJKR6uzVs9kjC1SgJgD6SEzy7fzQEU" //example
  var navTxId = "a899edb7665b21a6722ff73bca907ab54e26c9a55b2e57b29dfb6c73f333c51b" //example
  function search() {
    var query = document.querySelector("#searchBar").value
    var suggestionBox = document.querySelector(".suggestions")
    
    if(query.length == navAddress.length) {
      //query is of adress type
      suggestionBox.classList.add("show")
      document.querySelector("#query").innerHTML = query
      document.querySelector("#queryType").innerHTML = "ADDRESS"


    }else if(query.length == navTxId.length) {
      //query is of tx id type
      suggestionBox.classList.add("show")
      document.querySelector("#query").innerHTML = query
      document.querySelector("#queryType").innerHTML = "TX HASH"
    }else {
      suggestionBox.classList.remove("show")
      document.querySelector("#query").innerHTML = ""
      document.querySelector("#queryType").innerHTML = ""
    }
  }
</script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NAVPRICE</a>
    </div>
    <ul class = "nav navbar-nav navbar-center">
    	<li><button class="time-button" onclick="changeChart('3y')">3y</button></li>
    	<li><button class="time-button" onclick="changeChart('1y')">1y</button></li>
    	<li><button class="time-button" onclick="changeChart('6m')">6m</button></li>
    	<li><button class="time-button" onclick="changeChart('7d')">7d</button></li>
    	<li><button class="time-button" onclick="changeChart('24hr')">24hr</button></li>
      
	  </ul>
    <ul class = "nav navbar-nav navbar-right">
      <li><a class ="right-button">EXPLORE</a>
      </li>
      <li><a class ="right-button" href="wallet.html">GENERATE</a>
      </li>
    </ul>
    
  </div>
</nav>
<div>
  <!-- think about this part below 
<form class='search'>
    <div class = "container-fluid">
      <div class = "row">
        <input type="text" id="searchBar" onkeyup="search()" placeholder="Search Addresses or TX Hashes">
      </div>
      <div class = "suggestions row">
        <p id="query"></p>
        <p id="queryType"></p>
      </div>
    </div>
</form> -->
</div>