<div class = "chart-container">
	<canvas id="myChart"></canvas>
	<script src="js/dataFunctions.js" type="text/JavaScript"></script>
	<script>
		$(document).ready(function() {

			myWorker = new Worker("js/chartData.js")
			console.log("sending message to worker")
			myWorker.postMessage("START")
			myWorker.onmessage = function(e) {
				console.log("received message from worker")
				var results = e.data;
				populate(results)
				stopWorker();

			}
			
		function stopWorker() {
			console.log("terminated")
			myWorker.terminate()
			myWorker = undefined;
		}

		function populate(results) {
			//this 2 functions take very long, run a loading screen //
				var dailyData = results[0];
				var hourlyData = results[1];
				// end of 2 long functions
				var twentyFourHour = getData(24,hourlyData)
				var sevenDay = getData(7,hourlyData)
				var sixmonth = getData(6,dailyData)
				var oneYear = getData(1,dailyData)


				var date = new Date(Date.now());
				var currentYear = getCurrentYear(date);
				var currentMonth = getCurrentMonth(date);
				var currentDay = getCurrentDay(date)
				var currentUnixTime = Date.now();
				
				threeYearData = {
					labels: [currentYear-2,currentYear-1,currentYear],
					datasets: [{
			            borderColor: 'green',
			           	data: [10,32,44],
			           	yAxisID:"y-axis-usd"
					}],
						
				}

				oneYearData = {
					labels: get12MonthRange(currentMonth,oneYear[1].length),
					datasets: [{
			            borderColor: 'orange',
			           	data: oneYear[1],
			           	yAxisID:"y-axis-btc"
					},{
						borderColor: 'green',
			           	data: oneYear[0],
			           	yAxisID:"y-axis-usd"
					}],
						
				}
				sixMonthData = {
					labels: get6MonthRange(currentMonth,sixmonth[1].length),
					datasets: [{
			            borderColor: 'orange',
			           	data: sixmonth[1],
			           	yAxisID:"y-axis-btc"
					},{
						borderColor: 'green',
			           	data: sixmonth[0],
			           	yAxisID:"y-axis-usd"
					}],
				}
				sevenDayData = {
					labels: get7DayRange(currentDay,sevenDay[1].length),
					datasets: [{
			            borderColor: 'orange',
			           	data: sevenDay[1],
			           	yAxisID:"y-axis-btc"
					},{
						borderColor: 'green',
			           	data: sevenDay[0],
			           	yAxisID:"y-axis-usd"
					}],
				}
				
				twentyFourHourData = {
					labels: parseHour(twentyFourHour[0]),
					datasets: [{
			            borderColor: 'orange',
			           	data: twentyFourHour[2],
			           	yAxisID:"y-axis-btc"
					},{
						borderColor: 'green',
			           	data: twentyFourHour[1],
			           	yAxisID:"y-axis-usd"
					}],

				}
				var defautChartName = "1-Year Prices"
				createChart(oneYearData,defautChartName);
			}	
			
		})

		function parseHour(date) {
			var dateStringArray = []
			date.forEach(function(value) {
				if(value > 12) {
					value = value - 12
					valueString = parseInt(value) + ' P.M'
					dateStringArray.push(valueString)
				}else if(value < 12) {
					valueString = parseInt(value) + ' A.M'
					dateStringArray.push(valueString)
				}else if(value == 24) {
					valueString = '12 A.M'
					dateStringArray.push(valueString)
				}else if(value == 12) {
					valueString = '12 P.M'
					dateStringArray.push(valueString)
				}
			})
			return dateStringArray;
		}

		function getCurrentYear(date) {
			return date.getFullYear();
		}

		function getCurrentMonth(date) {
			return date.getMonth();
		}
		function getCurrentDay(date) {
			return date.getDay();
		}
		function get12MonthRange(currentMonth,length) {
			var emptyArrays = []
			if(length != 33) {
				for(var i =0;i<length-33;i++) {
					emptyArrays.push("")
				}
			}
			
			//currentMonth args is in index 0-11 for jan to dec
			switch (currentMonth) {
				case 0:
					return inserter2(['Febuary','March','April','May','June','July','August','September','October','November','December','January']).concat(emptyArrays);
				case 1:
					return inserter2(['March','April','May','June','July','August','September','October','November','December','January','Febuary']).concat(emptyArrays);
				case 2:
					return inserter2(['April','May','June','July','August','September','October','November','December','January','Febuary','March']).concat(emptyArrays);
				case 3:
					return inserter2(['May','June','July','August','September','October','November','December','January','Febuary','March','April']).concat(emptyArrays);
				case 4:
					return inserter2(['June','July','August','September','October','November','December','January','Febuary','March','April','May']).concat(emptyArrays);
				case 5:
					return inserter2(['July','August','September','October','November','December','January','Febuary','March','April','May','June']).concat(emptyArrays);
				case 6:
					return inserter2(['August','September','October','November','December','January','Febuary','March','April','May','June','July']).concat(emptyArrays);
				case 7:
					return inserter2(['September','October','November','December','January','Febuary','March','April','May','June','July','August']).concat(emptyArrays);
				case 8:
					return inserter2(['October','November','December','January','Febuary','March','April','May','June','July','August','September']).concat(emptyArrays);
				case 9:
					return inserter2(['November','December','January','Febuary','March','April','May','June','July','August','September','October']).concat(emptyArrays);
				case 10:
					return inserter2(['December','January','Febuary','March','April','May','June','July','August','September','October','November']).concat(emptyArrays);
				case 11:
					return inserter2(['January','Febuary','March','April','May','June','July','August','September','October','November','December']).concat(emptyArrays);
				
			}
		}
		function inserter2(value) {
			//insert 2 blank spaces
			var stopIndex = 34;
			var currentIndex = 1;
			while(currentIndex < stopIndex) {
				value.splice(currentIndex,0,"","")
				currentIndex += 3; //always one more than how many we are inserting
			}
			return value;

		}
		function get6MonthRange(currentMonth,length) {
			var emptyArrays = []
			if(length != 25) {
				for(var i =0;i<length-25;i++) {
					emptyArrays.push("")
				}
			}
			
			switch (currentMonth) {
				case 0:
					return ['August',"","","","",'September',"","","","",'October',"","","","",'November',"","","","",'December',"","","","",'January'].concat(emptyArrays);
				case 1:
					return ['September',"","","","",'October',"","","","",'November',"","","","",'December',"","","","",'January',"","","","",'Febuary'].concat(emptyArrays);
				case 2:
					return ['October',"","","","",'November',"","","","",'December',"","","","",'January',"","","","",'Febuary',"","","","",'March'].concat(emptyArrays);
				case 3:
					return ['November',"","","","",'December',"","","","",'January',"","","","",'Febuary',"","","","",'March',"","","","",'April'].concat(emptyArrays);
				case 4:
					return ['December',"","","","",'January',"","","","",'Febuary',"","","","",'March',"","","","",'April',"","","","",'May'].concat(emptyArrays);
				case 5:
					return ['January',"","","","",'Febuary',"","","","",'March',"","","","",'April',"","","","",'May',"","","","",'June'].concat(emptyArrays);
				case 6:
					return ['Febuary',"","","","",'March',"","","","",'April',"","","","",'May',"","","","",'June',"","","","",'July'].concat(emptyArrays);
				case 7:
					return ['March',"","","","",'April',"","","","",'May',"","","","",'June',"","","","",'July',"","","","",'August'].concat(emptyArrays);
				case 8:
					return ['April',"","","","",'May',"","","","",'June',"","","","",'July',"","","","",'August',"","","","",'September'].concat(emptyArrays);
				case 9:
					return ['May',"","","","",'June',"","","","",'July',"","","","",'August',"","","","",'September',"","","","",'October'].concat(emptyArrays);
				case 10:
					return ['June',"","","","",'July',"","","","",'August',"","","","",'September',"","","","",'October',"","","","",'November'].concat(emptyArrays);
				case 11:
					return ['July',"","","","",'August',"","","","",'September',"","","","",'October',"","","","",'November',"","","","",'December'].concat(emptyArrays);
				
			}

		}
		function get7DayRange(currentDay,length) {
			var emptyArrays = []
			if(length != 25) {
				for(var i = 0;i<length-25;i++) {
					emptyArrays.push("")
				}
			}
			
			switch(currentDay) {
				case 0:
					return ['Monday',"","","",'Tuesday',"","","",'Wednesday',"","","",'Thursday',"","","",'Friday',"","","",'Saturday',"","","",'Sunday'].concat(emptyArrays);
				case 1:
					return ['Tuesday',"","","",'Wednesday',"","","",'Thursday',"","","",'Friday',"","","",'Saturday',"","","",'Sunday',"","","",'Monday'].concat(emptyArrays);
				case 2:
					return ['Wednesday',"","","",'Thursday',"","","",'Friday',"","","",'Saturday',"","","",'Sunday',"","","",'Monday',"","","",'Tuesday'].concat(emptyArrays);
				case 3:
					return ['Thursday',"","","",'Friday',"","","",'Saturday',"","","",'Sunday',"","","",'Monday',"","","",'Tuesday',"","","",'Wednesday'].concat(emptyArrays);
				case 4:
					return ['Friday',"","","",'Saturday',"","","",'Sunday',"","","",'Monday',"","","",'Tuesday',"","","",'Wednesday',"","","",'Thursday'].concat(emptyArrays);
				case 5:
					return ['Saturday',"","","",'Sunday',"","","",'Monday',"","","",'Tuesday',"","","",'Wednesday',"","","",'Thursday',"","","",'Friday'].concat(emptyArrays);
				case 6:
					return ['Sunday',"","","",'Monday',"","","",'Tuesday',"","","",'Wednesday',"","","",'Thursday',"","","",'Friday',"","","",'Saturday'].concat(emptyArrays);
			}
		}
		
		function changeChart(type) {
			if(type == '3y') {
				var chartName = "3-Year Prices"
				createChart(threeYearData,chartName)
			}
			if(type == '1y') {
				var chartName = "1-Year Prices"
				createChart(oneYearData,chartName)

			}
			if(type == '6m') {
				var chartName = "6-Month Prices"
				createChart(sixMonthData,chartName)
			}
			if(type == '7d') {
				var chartName = "7-Day Prices"
				createChart(sevenDayData,chartName)
			}
			if(type == '24hr') {
				var chartName = "24-Hour Prices"
				createChart(twentyFourHourData,chartName)
			}
		}

		function createChart(newData,chartName) {
			config = createConfig(newData,chartName);
			var ctx = document.getElementById('myChart').getContext('2d')
			var chart = new Chart(ctx, config)
			chart.canvas.parentNode.style.width ="90%";
		}
		
		function createConfig(newData,chartName) {
			var configInner = {
				type: 'line',
				data: newData,
				options: {
					responsive: true,
	                title:{
	                    display: true,
	                    text: chartName,
	                    fontColor: 'black',
	                    fontSize: 20
	                },
	                scales: {
	                	xAxes: [{
	                		scaleLabel: {
	                			fontColor:'black',
	                		},
	                		gridLines: {
	                			display: false,
	                			drawBorder: false,
	                		},
	                		ticks: {
	                			fontColor: 'black',
	                			autoSkip: false
	                		}
	                		
	                	}],

	                    yAxes: [{
	                    	//y axis for USD
	                    	type:'linear',
	                    	display: true,
	                    	position:'left',
	                    	id:'y-axis-usd',
	                    	scaleLabel: {
	                    		display: true,
	                    		labelString: 'Price (USD)',
	                    		fontColor: 'green',
	                    	},
	                        gridLines: {
	                            drawBorder: true,
	                            display: false,
	                        },
	                        ticks : {
	                        	fontColor: 'green'
	                        }
	                        
	                    },{
	                    	//y axis for btc
	                    	type:'linear',
	                    	display: true,
	                    	position:'right',
	                    	id:'y-axis-btc',
	                    	scaleLabel: {
	                    		display: true,
	                    		labelString: 'Price (BTC)',
	                    		fontColor:'orange',
	                    	},
	                        gridLines: {
	                            drawBorder: false,
	                            display: false,
	                        },
	                        ticks : {
	                        	fontColor: 'orange'
	                        }
	                    }]

	                },
	                //setting the label of data to dissapear
	                legend : {
	                	display: false
	                }
	            }
			};
			return configInner;
		}
		

	</script>
</div>
